body {
    margin: 0;
    padding: 0;
    background-color: white!important;
}
.space {
    width: 5vw;
    max-width: 50px;
}
img {
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.nav {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: black;
    justify-content: center;
}
.navbar-nav li a {
    line-height: 50px;
}
.navbar-nav {
    float: none;
    text-align: center;
    display: inline-block;
}
