body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite !important;
}
.space {
    width: 5vw;
    max-width: 50px;
}
img {
    width: 100%;
}
h3,
h5,
h1,
p {
    text-align: center;
}
.nav {
    font-size: 1em;
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
    text-align: center;
    background-color: darkred;
    justify-content: center;
}
.navbar-nav li a {
    line-height: 50px;
}
.navbar-nav {
    float: none;
    text-align: center;
    display: inline-block;
}
